/eagle/**/*#*
/datasheets/*
/duino
/tsp/plots/
/texts/
/test/
/butter-f3/
/simulations/*.net
*.js
*.zip
*.json
*.pyc
*.cmp
*.gpl
*.plc
*.pro
*.sol
*.stc
*.sts
*.gpi
*.cir
*.d
*.elf
*.hex
*.map
*.o
*~
*.epf
/eagle/**/*.pdf
/eagle/**/*.png
